body{
    background-color: #f3e5d7;
    display: flex;
    justify-content: center;
}

.container {
    width: 736px;
    padding: 40px;
    border-radius: 24px;
    background-color: white;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.recipe-image {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Title, .preparation-time, .ingredients, .instructions, .Nutrition, .attribution{
    border: 1px solid black;
}


.Title h1{
    font-size: 40px;
    font-family: 'young-serif';
    font-weight: regular;
    word-spacing: 0px;
    line-height: 100%;
    margin: 0px;
}

.Title p{
    font-size: 16px;
    font-family: 'outfit';
    font-weight: regular;
    word-spacing: 0px;
    line-height: 150%;
    margin: 0px;
}

.preparation-time {
    background-color: #fff7fb;
    border-radius: 12px;
    padding: 24px;
    gap: 16px;
}

.header-preparation {
    color: #7a284e;
    font-family: 'outfit';
    font-weight: semi-bold;
    font-size: 20px;
    line-height: 100%;
    word-spacing: 0px;
    margin: 0px;
}

ul{
    /* border: 1px solid black; */
    margin: 0px;
    padding-left: 20px;
    gap: 8px;
}

h2{
    color: #854632;
}